-# -----↓非同期処理の記述↓-----
-# $(".like-circle-orange").html("#{escape_javascript(render partial: 'like', locals: { product: @product, products: @products, likes: @likes, like: @like})}")

-# $(".like-orange").html("#{escape_javascript(render partial: 'like', locals: { product: @product, products: @products, likes: @likes, like: @like})}")
-# -----↑非同期処理の記述↑-----