.first-wapper {
  // background-image: linear-gradient(#f5f5f5, #c0f0d9, #f5f5f5);
  // background-image: linear-gradient(#f5f5f5, #80DEEA, #f5f5f5);
  background-image: linear-gradient(#f5f5f5, #bbf8ff, #f5f5f5);
  .first-access-wapper {
    height: 100vh;
    width: 100%;
    min-height: 100vh;
    width: calc(100% - 200px);
    max-width: 880px;
    min-width: 810px;
    margin: 0 auto;
    display: flex;
    .wapper-left {
      height: 100%;
      width: 20%;
      position: relative;
      .calender {
        display: block;
        position: absolute;
        top: 80px;
        left: 0;
      }
      .books {
        display: block;
        position: absolute;
        right: 20px;
        bottom: 500px;
      }
      .marketing {
        display: block;
        position: absolute;
        left: 0;
        bottom: 300px;
      }
    }
    .wapper-center {
      height: 60%;
      width: 60%;
      margin-top: 100px;
      .first-access {
        &__upper {
          margin: 0 auto;
          .greeting {
            width: 70%;
            margin: 0 auto;
            &__top {
              color: #3f3f3f;
              font-weight: bold;
              font-size: 3rem;
              font-family: "M PLUS Rounded 1c";
            }
            &__mid {
              color: #3f3f3f;
              font-weight: bold;
              font-size: 2.5rem;
              text-align: right;
              font-family: "M PLUS Rounded 1c";
            }
          }
        }
        &__mid {
          margin: 0 auto;
          margin-top: 80px;
          .introduction {
            letter-spacing: 0.05em;
            text-align: center;
            line-height: 60px;
            &__top {
              font-size: 20px;
              color: #555;
              font-family: "M PLUS Rounded 1c";
            }
            &__mid {
              font-size: 20px;
              color: #555;
              font-family: "M PLUS Rounded 1c";
            }
            &__low {
              font-size: 20px;
              color: #555;
              font-family: "M PLUS Rounded 1c";
            }
          }
        }
        &__low {
          margin-top: 50px;
          .first-access-btn {
            display: block;
            background: #35495E;
            height: 60px;
            width: 280px;
            border-radius: 50px;
            margin: 0 auto;
            color: #f5f5f5;
            font-family: "M PLUS Rounded 1c","メイリオ",Meiryo,sans-serif;
            font-weight: bold;
            line-height: 60px;
            text-align: center;
            transition: background 0.5s;
            transition: font-size 0.1s;
            transition: box-shadow 0.1s;
            &:hover {
              background: #374c63;
              font-size: 18.5px;
              box-shadow: 0 0 10px 3px silver;
              transition: background-color 0.5s;
              transition: font-size 0.1s;
              transition: box-shadow 0.1s;
            }
          }
        }
      }
    }
    .wapper-right {
      height: 100%;
      width: 20%;
      position: relative;
      .fitness {
        display: block;
        position: absolute;
        top: 150px;
        right: 0;
        left: 0;
        margin: 0 auto;
      }
      .computer {
        display: block;
        position: absolute;
        bottom: 350px;
        right: 0;
      }
    }
  }
}