- if user_signed_in?
  #appear-share-task.appear-share-task
    = link_to new_task_path, class: "appear-share-task__btn" do
      %i.fas.fa-share-alt
  #appear-info.appear-info
    .appear-info__text
      タスクをシェア
- else
  #appear.administrator-login
    = link_to users_guest_sign_in_path, method: :post, data: { confirm: 'ゲストユーザーとしてログインしますか？' }, class: "administrator-login__btn" do
      %p
        簡単ログイン
      %i.fas.fa-key
#page-top.icon-box
  %p#slide-text
    TOP
  %i.fas.fa-chevron-up
%footer
  Copyright
  %span.copyright © 
  2020 our task All Rights Reserved.